page-register {
  .getstart {
  background-image: url('../assets/imgs/d59bd86f-e88d-463f-a14b-e24e6eec8868.jpg');
  //background: url('../assets/imgs/FijolTioPelon.jpg');
  // background-image: url('../assets/imgs/logoCookShopSinFondo.png');
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  // background-size:cover;


}

}
